#background {
	-fx-background-color: linear-gradient(to right bottom,#0F5298,#61D8DE);
}

.backgroundColor{
	-fx-background-color: linear-gradient(to right bottom,#0F5298,#61D8DE);
}
.label{    /* applica stile all' intera classe label */ 
	-fx-font-family:"Segoe UI";
	-fx-text-fill:"white";
	
}
.text-field{
	-fx-background-color: transparent;
	-fx-background-insets : 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
	-fx-text-fill: "white";
}
.button{
	-fx-background-color: linear-gradient(to right bottom,#66D3FA,#2196F3);
	-fx-font-family:"Segoe UI";
	-fx-text-fill:"white";
	-fx-border-color:transparent;
	-fx-border-width: 0 3 3 0; 
}
/* nota : button hover si può usare per far vedere che si sta per clickare login */
